/* ОБЩИЕ СТИЛИ */

ul {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #2e2f42;
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

@media only screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .section {
    padding-top: 96px;
    padding-bottom: 96px;
  }
}

@media only screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .section {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

/* HEADER */

.logo-link {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logos-link {
  color: #2e2f42;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width: 767px) {
  .page-header {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .menu-btn-burger {
    border-color: transparent;
    border: none;
    padding: 0;
    fill: #2f2f37;
    line-height: 0;
  }

  .menu,
  .adress {
    display: none;
  }
  /* STYLE MOBILE MENU */
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    height: 100%;
    background-color: #fff;

    opacity: 0;
    visibility: hidden;
    transition:
      opasity 250ms cubic-bezier(0.4, 0, 0.2, 1),
      visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
  }

  .mobile-menu-container {
    position: relative;
    padding-right: 24px;
    padding-bottom: 40px;
  }

  .mobile-menu-btn-close {
    border-color: transparent;
    position: absolute;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    padding: 0;
    line-height: 0;
    fill: #2e2f42;
    border: none;
    border-radius: 100%;
    background-color: #e7e9fc;
    stroke-width: 1px;
    stroke: rgba(0, 0, 0, 0.1);
    transition:
      fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
      border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* .mobile-menu-btn-close:hover,
.mobile-menu-btn-close:focus {
  border-radius: 100%;
  fill: #fff;
  background-color: #404bbf;
} */

  .mobile-menu-nav {
    padding-top: 72px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 168px;
    max-width: 151px;
  }

  .mobile-menu-link {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .mobile-menu-link:hover,
  .mobile-menu-link:focus {
    color: #404bbf;
  }

  .active {
    color: #404bbf;
  }

  .mobile-adress-list {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 48px;
    max-width: 193px;
  }

  .mobile-adress-link-email {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .mobile-adress-link-email:hover,
  .mobile-adress-link-email:focus {
    color: #404bbf;
  }

  .mobile-adress-link-tel {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .mobile-adress-link-tel:hover,
  .mobile-adress-link-tel:focus {
    color: #404bbf;
  }

  .mobile-social-media-link {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    gap: 40px;
  }

  .mobile-social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #4d5ae5;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: #f4f4fd;
  }

  .mobile-social-link:focus,
  .mobile-social-link:hover {
    background-color: #31d0aa;
  }
  /* END STYLE MOBILE MENU */
}

@media only screen and (min-width: 768px) {
  .menu,
  .adress {
    display: flex;
  }

  .mobile-menu {
    display: none;
  }

  .menu-btn-burger {
    display: none;
  }

  .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
      0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
  }

  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .page-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 496px;
  }

  .logos-link {
    margin-right: 120px;
  }

  .adress-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .menu {
    display: flex;
    column-gap: 40px;
  }

  .menu-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    display: block;
    padding-top: 24px;
    padding-bottom: 24px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }

  .menu-link.active {
    position: relative;
    color: #404bbf;
  }

  .menu-link.active::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    left: 0px;
    bottom: 0;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .adress-link-email {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .adress-link-email:hover,
  .adress-link-email:focus {
    color: #404bbf;
  }

  .adress-link-tel {
    font-size: 12px;
    line-height: 1.16667;
    letter-spacing: 0.04em;
    color: #434455;
  }

  .adress-link-tel:hover,
  .adress-link-tel:focus {
    color: #404bbf;
  }
}

@media only screen and (min-width: 1158px) {
  .mobile-menu {
    display: none;
  }

  /* .page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow:
      0 1px 6px 0 rgba(46, 47, 66, 0.08),
      0 1px 1px 0 rgba(46, 47, 66, 0.16),
      0 2px 1px 0 rgba(46, 47, 66, 0.08);
    background-color: #fff;
  } */

  /* .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  } */

  .page-nav {
    width: 452px;
  }

  .logos-link {
    margin-right: 76px;
  }

  .adress-list {
    display: flex;
    flex-direction: row;
    column-gap: 40px;
  }

  .adress-link-email {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* .adress-link-email:hover,
  .adress-link-email:focus {
    color: #404bbf;
  } */

  .adress-link-tel {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  /* .adress-link-tel:hover,
  .adress-link-tel:focus {
    color: #404bbf;
  } */
}
